# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Generated reports
AI_Fake_News_Report.pdf

# OS files
.DS_Store
Thumbs.db

# Local trained model
models/

# Training datasets
data/
